<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8w6i_VOOEQXYk4FoHGwDI17iNuN7eGF8</string>
	<key>GCM_SENDER_ID</key>
	<string>144147743709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apay.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>apay-tr</string>
	<key>STORAGE_BUCKET</key>
	<string>apay-tr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144147743709:ios:9945052c5451b572b4ec34</string>
</dict>
</plist>